@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2f2f2f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: #555;
}

body {
  margin: 0;
  font-family: 'Comfortaa', Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url(./images/background.png);
  min-width: 200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
