.chat-room {
    box-sizing: border-box;
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(71, 71, 71);
    display:flex;
    flex-wrap: wrap;
}

.chat-room .chat {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 10px;
    width:  600px;
    height: clamp(300px, 50%, 500px);
}

.participants {
    height: clamp(300px, 50%, 500px);
    width: 300px;
    box-sizing: border-box;
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}