.tic-tac-toe {
    background-color: aqua;
    width: 70%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
}
@media screen and (max-width: 500px ) {
    .tic-tac-toe {
        flex-direction: column;
        
    }
}


.game-area {
    width: fit-content;
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: block;
    width: clamp(300px, 50vw, 800px);
    height: clamp(300px, 50vw, 800px);
    background-color: blueviolet;
}

.players {
    display: flex;
}

.spectator-chat {
    background-color:cornsilk;
}